@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300&display=swap');

:root {
    --background: #202020;
    --color: #B8ACD1;
  }

* {
    color: var(--color);
    font-family: 'Roboto', sans-serif;
}

body {
    background-color: var(--background);
}

/* Container */

#container {
    display: grid;
    grid-template-areas:"title title"
                        "header header"
                        "main aside"
                        "footer footer";
    grid-template-rows: 1fr 1fr 7fr 1fr;
    grid-template-columns: 7fr 3fr;
    height: 100%;
    width: 100%;
    background-image: url("../img/rainbow.png");
    background-repeat: repeat;
}

/* Header */

#container > h1 {
    margin: 1em 0 1em 1em;
    grid-area: title;
}

header {
    grid-area: header;
    background-color: var(--color);
    display: flex;
    justify-content: space-around;
    border-radius: 10px;
    margin: 0 1em 2em 1em;
}

header > button {

    background-color: transparent;
    border: transparent;
    height: auto;
    font-weight: bold;
    font-size: 1.2em;
    cursor: pointer;
    outline: none;
    margin: 0.5em 0;
}

#burger {
    display: none;
}

header > button > a {
    color:var(--background);
    text-decoration: none;
}

header > button > a:hover {
    text-shadow: 3px 1px 6px var(--background);
}

/* Aside */

aside {
    grid-area: aside;
    background-color: var(--color);
    border-radius: 10px;
    color:var(--background);
    margin-right: 1em;
    padding: 0 1em;
}

aside > p {
    background-color: var(--color);
    color:var(--background);
}

aside > img {
    float: left;
    height: 13em;
    padding: 0 1em 0 0;
}

/* Main */

main {
    grid-area: main;
    margin-left: 1em;
    padding: 0 1em;
    background-color: rgba(32, 32, 32, 0.6);
    border-radius: 10px;
    justify-self: center;
}

main ul {
    list-style: none;
}

main > ul > li {
    padding: 2em;
    
}

main > ul > li::before {
    content: "➲ ";
}

main li > ul > li::before {
    content: "⤷ ";
}

main span {
    font-weight: bold;
}

/* Footer */

footer {
    background-color: var(--color);
    grid-area: footer;
    border-radius: 10px 10px 0 0;
    margin: 2em 1em 0 1em;
    padding: 1em;
    font-size: 0.8em;
    text-align: center;
}

footer > p, footer label {

    color:var(--background);
}

/* Media Queries */

@media(max-width: 980px) {

    aside > img {
        height: 8em;
    }
}

@media(max-width: 720px) {

    #container {
        display: grid;
        grid-template-areas:"title"
                            "header"
                            "main"
                            "aside"
                            "footer";
        grid-template-rows: repeat(5, 1fr);
        grid-template-columns: 1fr;
        height: 100%;
        width: 100%;
    }

    header {

        flex-direction: column;
    }

    header > button {
        display: none;
    }

    #burger {
        display: block;
    }

    aside {
        margin-left: 1em;
    }

    aside > img {
        height: 12em;
    }
}