@charset "UTF-8";
@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@300&display=swap");
:root {
  --background: #202020;
  --color: #B8ACD1;
}

* {
  color: var(--color);
  font-family: "Roboto", sans-serif;
}

body {
  background-color: #202020;
  background-image: url("../img/rainbow.png");
  margin: 1em 0 0 0;
}
body #container {
  display: grid;
  grid-template-areas: "title theme" "header header" "main aside" "footer footer";
  grid-template-rows: 0.5fr 0.5fr 4fr 0.5fr;
  grid-template-columns: 3fr 2fr;
  column-gap: 2em;
  row-gap: 1em;
  height: 100%;
  width: 100%;
  background-repeat: repeat;
}
@media (max-width: 720px) {
  body #container {
    grid-template-areas: "title" "theme" "header" "main" "aside" "footer";
    grid-template-rows: repeat(3, 0.3fr) repeat(2, 1fr) 0.2fr;
    grid-template-columns: 1fr;
  }
}
body #container #title {
  margin: 0;
  align-self: center;
}
body #container #title h1 {
  margin: 0 0 0 2em;
  grid-area: title;
  color: #B8ACD1;
  width: fit-content;
  height: fit-content;
}
@media (max-width: 720px) {
  body #container #title h1 {
    margin: 0;
  }
}
@media (max-width: 720px) {
  body #container #title {
    margin-top: 0.5em;
    justify-self: center;
  }
}
body #container #theme {
  margin: 0;
  width: fit-content;
  align-self: center;
  justify-self: left;
}
body #container #theme #dark {
  color: #B8ACD1;
  text-shadow: 3px 1px 6px #B8ACD1;
}
body #container #theme #dark:hover {
  text-shadow: 3px 1px 6px #B8ACD1;
}
body #container #theme #light {
  color: #B8ACD1;
  text-shadow: 3px 1px 6px #202020;
}
body #container #theme #light:hover {
  text-shadow: 3px 1px 6px #202020;
}
body #container #theme label {
  cursor: pointer;
  user-select: none;
  padding: 0.5em;
  border-radius: 10px;
  margin: 0em 0.8em;
}
body #container #theme label svg {
  height: 2em;
  fill: #B8ACD1;
}
body #container #theme input {
  display: none;
}
@media (max-width: 720px) {
  body #container #theme {
    grid-area: theme;
    justify-self: center;
    margin: 0.5em 0 0.8em 0;
  }
}
body #container header {
  grid-area: header;
  background-color: var(--background);
  display: flex;
  justify-content: space-around;
  border-radius: 10px;
  margin: 0 1em 2em 1em;
  box-shadow: 0px 0px 8px 3px #B8ACD1;
}
@media (max-width: 720px) {
  body #container header {
    flex-direction: column;
  }
}
body #container header > button {
  background-color: transparent;
  border: transparent;
  height: auto;
  font-weight: bold;
  font-size: 1.2em;
  cursor: pointer;
  outline: none;
  margin: 0.5em 0;
}
@media (max-width: 720px) {
  body #container header > button {
    display: none;
  }
}
body #container header #burger {
  display: none;
}
@media (max-width: 720px) {
  body #container header #burger {
    display: block;
  }
}
body #container header > button > a {
  color: var(--color);
  text-decoration: none;
}
body #container header > button > a:hover {
  text-shadow: 3px 1px 6px var(--color);
}
body #container aside {
  grid-area: aside;
  background-color: var(--background);
  border-radius: 10px;
  color: var(--color);
  margin-right: 1em;
  padding: 0 1em;
  align-self: center;
  width: 13em;
  justify-self: center;
}
@media (max-width: 720px) {
  body #container aside {
    margin: 0 0.5em 0 0.5em;
    padding: 0 1em;
  }
}
body #container aside > p {
  background-color: transparent;
  color: var(--color);
}
body #container aside > img {
  float: left;
  height: 13em;
  margin: 0 1em 0.5em 0;
  border-radius: 10px;
  background-color: transparent;
}
@media (max-width: 1080px) {
  body #container aside > img {
    height: 8em;
  }
}
@media (max-width: 720px) {
  body #container aside > img {
    height: 12em;
  }
}
body #container main {
  grid-area: main;
  margin-left: 1em;
  padding: 0 1em;
  background-color: rgba(32, 32, 32, 0.6);
  border-radius: 10px;
  justify-self: center;
  height: fit-content;
  align-self: center;
}
@media (max-width: 720px) {
  body #container main {
    margin: 0 0.5em 1em 0.5em;
    padding: 0 0.5em;
  }
}
body #container main ul {
  list-style: none;
  padding: 1em 0;
}
@media (max-width: 720px) {
  body #container main ul {
    padding: 0;
  }
}
body #container main ul > li {
  padding: 0.8em 1em;
}
@media (max-width: 720px) {
  body #container main ul > li {
    padding: 0.5em;
  }
}
body #container main ul > li::before {
  content: "➲ ";
}
body #container main ul input {
  background-color: transparent;
  border: none;
  border-bottom: 1px solid var(--color);
  outline: none;
  width: 10em;
  width: -webkit-fill-available;
}
body #container main ul button {
  background-color: transparent;
  justify-self: center;
  font-size: 1em;
  border: none;
  font-weight: bold;
}
body #container main ul textarea {
  background-color: transparent;
  border: none;
  border: thin solid var(--color);
  width: 10em;
  width: -webkit-fill-available;
  min-width: 19em;
  max-width: 19em;
  min-height: 2em;
  max-height: 19em;
}
body #container main li > ul > li::before {
  content: "⤷ ";
}
body #container main #textarea::before {
  content: "";
}
body #container main span {
  font-weight: bold;
}
body #container footer {
  background-color: var(--background);
  grid-area: footer;
  border-radius: 10px 10px 0 0;
  margin: 2em 1em 0 1em;
  font-size: 0.8em;
  text-align: center;
  box-shadow: 0px 0px 8px 3px #B8ACD1;
  align-self: end;
}
body #container footer > p {
  color: var(--color);
  padding: 1em;
}
@media (max-width: 720px) {
  body #container footer {
    font-size: 0.7em;
  }
}

/*# sourceMappingURL=general.css.map */
