/* Container */

#container {
    display: grid;
    grid-template-areas:"title title"
                        "header header"
                        "main aside"
                        "footer footer";
    grid-template-rows: 1fr 1fr 7fr 1fr;
    grid-template-columns: 7fr 3fr;
    height: 100%;
    width: 100%;
}

/* Header */

#container > h1 {
    margin: 1em 0 1em 1em;
    grid-area: title;
}

header {
    grid-area: header;
    background-color: #B8ACD1;
    display: flex;
    justify-content: space-around;
    border-radius: 10px;
    margin: 0 1em 2em 1em;
}

header > button {

    background-color: transparent;
    color:#202020;
    border: transparent;
    height: auto;
    font-weight: bold;
    font-size: 1.2em;
    cursor: pointer;
    outline: none;
    margin: 0.5em 0;
}

header > button:first-of-type {
    font-size: 1.5em;
}

/* Aside */

aside {
    grid-area: aside;
    background-color: #B8ACD1;
    border-radius: 10px;
    color:#202020;
    margin-right: 1em;
    padding: 0 1em;
}

aside > p {
    background-color: #B8ACD1;
    color:#202020;
}

/* Main */

main {
    grid-area: main;
    margin-left: 1em;
    padding: 0 1em;
}

/* Footer */

footer {
    background-color: #B8ACD1;
    color:#202020;
    grid-area: footer;
    border-radius: 10px 10px 0 0;
    margin: 2em 1em 0 1em;
    padding: 1em;
}

/* Media Queries */

@media(max-width: 720px) {

    #container {
        display: grid;
        grid-template-areas:"title"
                            "header"
                            "main"
                            "aside"
                            "footer";
        grid-template-rows: repeat(5, 1fr);
        grid-template-columns: 1fr;
        height: 100%;
        width: 100%;
    }

    aside {
        margin-left: 1em;
    }
}